* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(240, 73%, 65%);
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: repeat-x;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 0.72rem;
    padding: 1.5rem;
    padding-top: 9rem;
    height: 100vh;
}

main {
    max-width: 57.5rem;
}

.card-container {
    border: 1px solid white;
    border-radius: 1.5em;
    background-color: white;
    box-shadow: 0 23px 81px -27px black;
    margin: 0 auto;
    margin-bottom: 2em;
    padding: 0 1.5rem 2.5rem 1.5rem;
}

.image-position {
    position: relative;
    margin: 0 auto;
    height: 8.625em;
    top: -6.625em;
    width: 14.8em;
}

.after-icon {
    transition: all 0.4s;
}

.after-icon::after {
    content: url(./images/icon-arrow-down.svg);
}

.bg-pattern-mobile {
    position: relative;
    top: -5em;
    width: 100%;
}

.card-content h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.questions-container {
    border-bottom: 1px solid hsl(240, 5%, 91%);
    transition: all 0.5s;
    transform: translate(0);
}



.question-content,
.question-content-clicked {
    color: hsl(237, 12%, 33%);
    cursor: pointer;
    display: flex;
    font-size: 0.8rem;
    font-weight: 400;
    justify-content: space-between;
    padding: 1rem 0 0.75rem 0;
    transition: all 0.3s;
}

.question-content-clicked {
    font-weight: bold;
}

.question-content:hover,
.question-content-clicked:hover {
    color: hsl(14, 88%, 65%);
}   

.answer-content {
    color: hsl(240, 6%, 50%, 0);
    line-height: 1.7em;
    padding: 0 2rem 1rem 0;
    transition: color 1s;
    word-spacing: 2px;
}

.illustration-desktop,
.bg-pattern-desktop,
.illustration-box-desktop {
    display: none;
}


.attribution {
    color: white;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: orange;
}

@media only screen and (min-width: 820px) {
    main {
        margin: 0 auto;
    }

    .card-container {
        background-image: url(./images/bg-pattern-desktop.svg);
        background-position: -36.125rem 65%;
        background-repeat: no-repeat;
        padding: 4.5rem 6.375rem 5.125rem 0;
    }

    .card {
        display: flex;
    }

    .container-image {
        width: 60%;
    }

    .card-content {
        width: 40%;
    }

    .card-content h1 {
        margin-bottom: 2rem;
    }

    .image-position {
        position: relative;
        top: 50%;
        left: -18%;
    }

    .illustration-desktop {
        bottom: 180%;
        object-fit: cover;
        object-position: right;
        right: 43%;
        position: relative;
        height: 22.5rem;
        width: 24.375rem;
        z-index: 1;
    }

    .illustration-box-desktop {
        bottom: 405%;
        object-fit: cover;
        object-position: top;
        position: relative;
        right: 120%;
        z-index: 2;
    }

    .answer-content {
        padding: 0 1rem 1rem 0;

    }


    .illustration-mobile,
    .bg-pattern-mobile {
        display: none;
    }

    .illustration-desktop,
    .illustration-box-desktop,
    .bg-pattern-desktop {
        display: block;
    }
}